.container {width:100vw;height:100vh;display:flex;align-items:center;justify-content:center;}
.initial--box {display:flex;flex-direction:column;align-items:center;justify-content:center;gap:80px;}
@media screen and (max-width: 500px) {
  .initial--box { gap:40px; }
}
.text--center {text-align:center;}
.plus--box {display:flex;align-items:center;justify-content:center;width:100px;height:100px;border:1px solid #333;font-size:24px;line-height:24px;}

.space-2xl {margin-top:48px;}
.space-xl {margin-top:40px;}
.space-lg {margin-top:32px;}
.space-md {margin-top:24px;}
.space-sm {margin-top:16px;}
.space-xs {margin-top:8px;}
